@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

:root {
  --primary: #0C2A42;
  --secondary: #D3AC92;
  --tertiary: whitesmoke;
}

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 20px !important;
}

.header-name {
  font-family: 'Whisper', cursive;
}

.app {
  min-height: 100vh;
  min-width: 100%;

  display: grid;
  grid-template-columns: 60px 1fr;

  background-color: var(--primary);
  color: var(--tertiary);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
  }
}

a {
  color: var(--tertiary);
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  color: var(--secondary);
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin: 0;
}

button {
  background-color: var(--secondary) !important;
}

button:hover {
  filter: brightness(90%);
}

.main-container {
  max-width: 1280px;
  margin: auto;
}

.section-title {
  position: sticky;
  top: 0;
  background-color: rgba(12, 42, 66, 0.5);
  backdrop-filter: blur(8px);
  padding: 1rem 1rem 1rem 0;
  z-index: 20;
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.link-icon {
  transition: transform 0.5s ease-in-out;
}

a:hover .link-icon {
  transform: scale(1.2) rotate(360deg);
}

.subtitle {
  font-style: italic;
}

.accent {
  color: var(--secondary);
}

.custom-tag {
  background-color: var(--secondary) !important;
  font-size: 16px !important;
}